/* Navbar Container */
.containNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  padding: 15px;
  z-index: 1000;
  transition: background 0.3s ease-in-out;
}

/* Search Input Focus State */
.searchWrapper input:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5);
}

/* Suggestion Items Hover */
.suggestionItem:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Navbar Buttons */
.navButtons {
  padding: 10px 15px;
  border: none;
  background-color: transparent !important;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.navButtons::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 4px;
  background-color: #b53389;
  transition: width 0.3s ease-in-out;
}

.navButtons:hover::after {
  width: 100%;
}

/* Auth Button */
.authButton {
  background: black;
  transition: color 0.3s ease;
  font-size: 18px;
}

.authButton:hover {
  background: #fff;
  color: #0d1b2a;
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

.authButton:active {
  color: #0d1b2a;
}

.authButton:focus {
  outline: none;
}

.authButton:focus::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 4px;
  background-color: #2575fc;
  transition: width 0.3s ease-in-out;
}

.authButton.active::after {
  width: 100%;
}

.authButton.active {
  color: #0d1b2a;
}

/* User Info Section */
.userInfo {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-right: 5px;
}

.userface {
  font-size: 32px !important;
}